body {
    background-color: rgb(0, 0, 0);
    font-family: var(--font-primary);
}
/*page accueil*/ 

.main__paragraphe {
    color: rgb(255, 255, 255);
    margin-right: 20px;
    margin-left: 20px;  
    
    font-size: 17px;
}

.main__partenaires {
    margin-left: 70px;
    margin-bottom: 100px;
}


/*page programme*/ 

.lienpdf a {
    color: rgb(255, 255, 255);
    
}

/* page filmographie*/

.categorieenfant {
    color: rgb(255, 255, 255);
    font-family: var(--font-secondary);
    font-size: 1.5em;
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
}
 
.categorieenfant::after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    width: 160px;
    height: 3px;
    border-radius: 3px;
    margin-left: 20px;
    vertical-align: middle;
    }
    
.categorie16ans {
    color: rgb(255, 255, 255);
    font-family: var(--font-secondary);
    font-size: 1.5em;
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
}

.categorie16ans::after {
    background-color: rgb(255, 255, 255);
    content: "";
    display: inline-block;
    width: 160px;
    height: 3px;
    border-radius: 3px;
    margin-left: 20px;
    vertical-align: middle;
}

 .texte-fin{
    color: white;
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 17px;
    margin-bottom: 100px;
 }

 /*page casper en détails*/ 

 .introcasper {
    color: white;
    margin-left: 20px;
    margin-right: 20px;

 }  

.lienBA {
    color : white;
}


/*page infos pratiques*/

.popcorn__image {
    margin-top: 40px;
    display: block;
    margin-left: auto;
    margin-right: 20px;
    width: 150px; 
}

 .FAQ__titre {
    margin-top: 70px;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
        color: white;
        font-family: var(--font-secondary);
        font-size: 35px;
 }

/*page contact*/

 .contact-num__title {
    font-family: var(--font-secondary);
    font-size: 35px;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
 }

 .contact-num__paragraphe {
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right:20px;
    line-height: 2;
}

.footer__social {
    margin-left: 20px;
    margin-right: 20px;
}


 /*page ol*/ 

.contenus-OL {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;  
}

.contenus-page-OL__title {
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}   

.contenus-page-OL__paragraphe {
    color: white;   
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}
