.footer__address {
    color: white;
}

.footer__contact-title{ 
    color: white;
}

.footer__menu-title {
    color: white;
}

.footer__menu-link {
    color: white;
}

.contenus2 {
    color: white;
}   

.contenus3 {
    color: white;
}   