.footer {
    background: linear-gradient(to bottom, black, #730503);
    color: white;
}

.footer__menu {
    margin-left: 20px;
    line-height: 1.5;
}

.footer__menu-link { 
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.footer__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-contact {
    margin-left: 20px;
    line-height: 1.5;
    margin-top: 50px;
}

.footer__social {
    display: flex;
    gap: 10px;
}
.footer__address {
    font-style: normal;
}

.footer__legal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-decoration: underline;
}
