
.photo-clown__PA {
    margin-left: 145px;
    margin-bottom: 65px;
}

.introcasper__image {
    margin-top: 50px;
}

.contenus__casper {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.carte__font {
    margin-top: 150px;
    opacity: 0.8;
}

.carte__carte {
    margin-top: -220px;
    transform: scale(0.8);
}