 .ensemble-invites {
     color: white;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 20px;
     padding: 20px;
     max-width: 1000px;
     margin: 0 auto;
    text-align: center;
 }

 .invites img {
     max-width: 100%;
     height: auto;
     border-radius: 8px;
 }

 .invites__title {
     font-size: 17px;
     color: white;
     margin-top: 10px;
     font-size: 17px;
     font-weight: bold;
 }

 .invites__nom {
    margin-top: 20px;
     color: white;
     margin-top: 8px;
     font-size: 17px;
     line-height: 1;;
    font-size: 1em;
    font-style: italic;
 }


  
